/* specifying */
button {
    background: red;
    padding: 20px 40px;
    color: white;
  }/*(0,0,0,1) */
  
  .btn {
    background: yellow;
  }/* (0,0,1,0) */
  
  main nav #main-btn.btn {
    background: green;
  }/*(0,1,0,2) */
  
  /* main nav #main-btn.btn:hover {
    background: hotpink;
  }/*(0,1,0,2) */ */
  
  main nav #main-btn.btn:hover {
    background: hotpink;
  }/*(0,1,2,2) */
  
  #main-btn.btn {
    background: blue;
  }/* (0,1,1,0)*/
  
  main #main-btn.btn.styled-btn {
    background: orange;
  } /* (0,1,2,1)*/
  
  /*calculate specificity
  *{} //select all is lease specific
  (0,0,0,0)  //least specfic
  
  (inline, ids, classes, elements)
  */

  /* end specifying */


  
/* specificity */
body{
    font-family:sans-serif;
}
section{
 background-color: aqua;
 font-size:150%;
 width:500px;
}
p{
  background-color: blue;
  width:100px;
  font-size: 2rem;
}

.title{
    width:10%;
}
/* end specificity */