body{
    height:100vw
}
.container{
    justify-content: center;
    display:grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: repeat(auto,auto);
    gap:2px;
}

.image{
    width:200px;
    height:200px;
}